.header-home {
  width: 100px;
}

.header-home:hover {
  cursor: pointer;
  font-weight: 500;
}

.header-categories {
  width: 100px;
  font-weight: normal;
}

.header-categories:hover {
  cursor: pointer;
  font-weight: 500;
}

.dropdown:hover .header-categories {
  cursor: pointer;
  font-weight: 500;
}

.dropdown:hover .dropdown-menu {
  cursor: pointer;
  display: block;
  background-color: white;
  font-weight: 500;
}

.dropdown-menu:hover + .dropdown {
  font-weight: 500;
}

.dropdown-menu li a {
  text-decoration: none;
}
