<div data-controller="posts">
  <input class="input border-2 border-blue-100 mx-10 my-10" placeholder="search" data-posts-target="searchposts" data-action="keyup->posts#search">

  <%= turbo_frame_tag "posts" do %>
    <%= render partial: "posts/posts_search", locals: { posts: @posts } %>
  <% end %>
</div>
