<div data-controller="posts--show" class="my-10 mx-24">
  <button data-action="click->posts--show#back" class="btn btn-primary">Back</button>
  <div>
    <%= render partial: "posts/show_content", locals: { post: @post } %>
  </div>
</div>
