<div data-controller="posts--show" class="m-10">
  <button data-action="click->posts--show#back" class="btn btn-primary">Back</button>
  <div>
    <%= render partial: "posts/show_content", locals: { post: @post } %>
  </div>
</div>
