<div class="mx-5 my-5" data-controller="home">
  <div class="flex justify-end mr-20 my-5">
    <input type="search" placeholder="Type here" class="input w-full max-w-xs" data-home-target="input" data-action="keyup->home#search" />
  </div>
  <div data-home-target="posts" class="quill-content flex flex-wrap mx-10 my-10">
  </div>
</div>
