<div data-controller="home">
  <%= turbo_frame_tag "posts_form" do %>
    <%= form_with id: "postsForm", url: search_path, method: :get, data: { turbo_frame: "posts" } do |form| %>
      <%= form.text_field :query, placeholder: "Search...", data: { home_target: "searchPosts", action: "keyup->home#search" } %>
    <% end %>
  <% end %>
</div>
